@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {






    /*Description*/

    .app-main .ant-descriptions.ant-descriptions-bordered .ant-descriptions-title {
        margin-bottom: 10px;
    }
    .app-main .ant-descriptions.ant-descriptions-bordered .ant-descriptions-view {
        border-left: 4px solid #f97316;
    }
    .app-main .ant-descriptions.ant-descriptions-bordered .ant-descriptions-view .ant-descriptions-item-label {
        width: 0.1%;
        min-width: 110px;
        vertical-align: top;
    }
    @media screen and (max-width: 992px) {
        .ant-descriptions.ant-descriptions-bordered .ant-descriptions-view .ant-descriptions-item-label {
            white-space: nowrap;
        }
    }

    .app-main .ant-descriptions.ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-view .ant-descriptions-item-label, .ant-descriptions.ant-descriptions-bordered.ant-descriptions-small .ant-descriptions-view .ant-descriptions-item-content {
        padding: 8px 12px;
    }
    .app-main .ant-descriptions.ant-descriptions-bordered.ant-descriptions-label-type-icon .ant-descriptions-view .ant-descriptions-item-label {
        min-width: 48px;
        text-align: center;
    }
    .app-main .ant-descriptions.ant-descriptions-bordered.ant-descriptions-label-type-icon .ant-descriptions-view .ant-descriptions-item-label .anticon {
        color: #b9b9b9;
        font-size: 19px;
    }
}
