// Descriptions
.ant-descriptions {
  a {
    @apply text-white hover:text-orange-500 #{!important};
  }
  &.ant-descriptions-bordered {
    .ant-descriptions-header {
      margin-bottom: 0;
    }
    .ant-descriptions-title {
      margin-bottom: 10px;
    }

    .ant-descriptions-view {
      border-left: 4px solid $color-main !important;

      .ant-descriptions-item-label {
        width: .1%;
        min-width: 110px;
        vertical-align: top;
      }

      .ant-descriptions-item-content {
        background-color: transparent;
      }
    }



    &.ant-descriptions-small {
      .ant-descriptions-view {
        .ant-descriptions-item-label,
        .ant-descriptions-item-content {
          padding: 8px 12px;
        }
      }
    }

    &.ant-descriptions-label-type-icon {
      .ant-descriptions-view {
        .ant-descriptions-item-label {
          min-width: 48px;
          text-align: center;

          .anticon {
            color: #b9b9b9;
            font-size: 19px;
          }
        }
      }
    }
  }
}

.ant-form-item-required {
  &:before {
    display: none !important;
  }
}

.ant-card {
  &.app-car__info-card {
    &.ant-card-bordered {
      border-left: 3px solid $color-main;
    }

    .ant-card-head {
      border-bottom: 1px solid rgba(253, 253, 253, 0.12);
      margin-bottom: 0;
    }

    .ant-card-body {
      padding: 0;
    }

    .ant-descriptions {
      border-top-left-radius: 0;
      border-top-right-radius: 0;

      .ant-descriptions-view {
        border: none !important;
      }
    }
  }
}

.ant-segmented-thumb {
  @apply bg-gradient-to-tr from-orange-500 to-orange-700 rounded-md #{!important};
}

.ant-segmented-item {
  &.ant-segmented-item-selected {
    .ant-segmented-item-label {
      @apply bg-gradient-to-tr from-orange-500 to-orange-700 rounded-md #{!important};
    }
  }
}

.ant-notification-notice-wrapper {
  @apply bg-gradient-to-b from-[]
}

.ant-badge {
  .ant-badge-count {
    @apply bg-gradient-to-tr from-red-500 to-red-700
  }
  .ant-scroll-number-only-unit {
    @apply text-white;
  }
}
